<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/baseball.png">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/template.css">
    <title>Home</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    
    <div class="container">
        <div class="panel panel-default">
            <h3>About</h3>
            <p id="design">Site design & code: Caitlin Grogan</p>
            
            <h3>Tools Used</h3>
            <ul>
                <li>Flask</li>
                <li>python</li>
                <li>gunicorn</li>
                <li>JavaScript</li>
				<li>HTML/CSS</li>
				<li>Bootstrap</li>
            </ul>
            <h4>Connect with Me</h4>

            <a target="_blank" href="https://github.com/michael-spencer31">
              <img src="/static/images/git.svg" width="50" height="50" alt="GitHub Logo">
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/michael-spencer-569387205/">
              <img src="/static/images/linkedin.png" width="50" height="50" alt="LinkedIn Logo">
            </a>
        </div>
    </div>

    {% endblock %}
</body>
</html>
