<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/baseball.png">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/template.css">
    <title>Home</title>
    
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
       
    <div class="container">
      <div class="panel panel-default">
		  <h3>About</h3>
          <p id="games">Site design & code: Caitlin Grogan</p> 
		  <img src="/static/images/cait.jpg" width="200", height="250" alt="Photo of Caitlin Grogan wearing a long, black dress"> 
      <img src="/static/images/bride.jpg" width="250", height="250" alt="Photo of Sarah Fitzpatrick wearing white wedding gown">  
 
		  <h3>Tools Used</h3>
		  <ul>
			<li>Flask</li>
			<li>python</li>
			<li>gunicorn</li>
      <li>JavaScript</li>
		  </ul>
          <h4>#gobluejays</h4>
          <img src="/static/images/logos/Toronto Blue Jays.png" width="50" height="50" alt="Toronto Blue Jays Logo">
      </div>
    </div>

        
    {% endblock %}
  </body>
</html>