<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/template.css">
    <title>Home</title>
    
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
                
        <h3>Today's Games</h3>
        <p>Click on any game for more details. Note this may take a few seconds to load due to the amount of data returned.</p>
        <div class="container">
            <div class="panel panel-default">
                <p id="games"></p>   
            </div>
        </div>
        <script>

            $.ajax({
                url: '/get_schedule',
                type: 'POST',
                async: false,
                contentType: 'application/json',
                success: function(response) {

                    response.forEach(element => {
                        var game_id = element.game_id;
                        let gameInfo = document.createElement('a');
                        gameInfo.textContent = element['away_name'] + " " + element['away_score'] + " vs " + element['home_name'] + " " + element['home_score'];
                        gameInfo.href = "/details?id=" + game_id; // Replace '#' with the link destination for the game
                        gameInfo.innerHTML += "<br>" + element['summary'] + "<br><br>";

                        document.getElementById("games").appendChild(gameInfo);
                    });
                                        
                },
                error: function(error) {
                    console.log(error);
                }
            });
           
        </script>
    {% endblock %}
  </body>
</html>