<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/template.css">
    <title>Home</title>
    
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
        <a href="">
                
            <div class="click-div">
                <p>Toronto (23, 44)</p> 
                <p>Montreal (55, 2)</p>
            </div> 
        </a>        
        <div class="container">
            <div class="panel panel-default">
                <p id="games"></p>   
            </div>
        </div>
        <script>

            $.ajax({
                url: '/get_schedule',
                type: 'POST',
                async: false,
                contentType: 'application/json',
                success: function(response) {

                    response.forEach(element => {
                        document.getElementById("games").innerHTML += element['away_name'] + " " + element['away_score'] + "<br>" + element['home_name'] + " " + element['home_score'] + "<br>";
                        document.getElementById("games").innerHTML += element['summary'] + "<br><br>";
                        console.log(element)
                    });
                },
                error: function(error) {
                    console.log(error);
                }
            });
           
        </script>
    {% endblock %}
  </body>
</html>