<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/static/images/baseball.png">
    <link rel="stylesheet" href="/static/css/template.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/js/script.js"></script>
    <title>Home</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="calendar-container">
        <div class="month-name" id="monthName"></div>
        <div class="calendar-wrapper">
            <button class="nav-button" id="prevButton">Prev</button>
            <div class="calendar" id="calendar"></div>
            <button class="nav-button" id="nextButton">Next</button>
        </div>
    </div>
    <p id="schedule"></p>
    <script>
        $("#schedule").html("");
        var container = $(".schedule").remove();
        $("#gameInfo").html("");
        $(".gameInfo").remove();
        $("#homeTeam").html("");
        $.ajax({
            url: '/get_schedule',
            type: 'POST',
            async: false,
            contentType: 'application/json',
            success: function(response) {
                response.forEach(element => {
                    
                   

                    var game_id = element.game_id;
                    let gameInfo = document.createElement('div');
                    // Create elements for away team
                    let awayTeam = document.createElement('div');
                    
                    let awayLogo = document.createElement('img');
                    awayLogo.src = "static/images/logos/" + element['away_name'] + ".png"; 
                    awayLogo.alt = element['away_name'] + " Logo";
                    awayLogo.style.height = "25px";
                    awayLogo.style.width = "25px";
                    awayTeam.appendChild(awayLogo);
                    awayTeam.innerHTML += element['away_name'] + " " + element['away_score'];

                    // Create elements for home team
                    let homeTeam = document.createElement('div');
                    let homeLogo = document.createElement('img');
                    homeLogo.src = "static/images/logos/" + element['home_name'] + ".png"; 
                    homeLogo.alt = element['home_name'] + " Logo";
                    homeLogo.style.height = "25px";
                    homeLogo.style.width = "25px";
                    homeTeam.appendChild(homeLogo);
                    homeTeam.innerHTML += element['home_name'] + " " + element['home_score'];

                    // Combine away and home team elements
                    gameInfo.appendChild(awayTeam);
                    gameInfo.appendChild(homeTeam);


                    document.getElementById("schedule").appendChild(gameInfo);
                    // Add summary text with line breaks
                    gameInfo.innerHTML += "<br>" + element['summary'] + "<br><br>";

                    // Create link element and set href
                    let gameLink = document.createElement('a');
                    gameLink.href = "/details?id=" + game_id;

                    // Append gameInfo to the link element
                    gameLink.appendChild(gameInfo);

                    // Append the link element to the document body
                    document.body.appendChild(gameLink);
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    </script>
    {% endblock %}
</body>
</html>
