<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/template.css">
	<script src="/static/script.js"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/v-calendar"></script>
	<script src="/static/playground.vue"></script>
    <title>Home</title>
    
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
               
					
    
    {% endblock %}
  </body>
</html>