<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/baseball.png">
    <meta name="viewport" content="width=device-width">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/template.css">
    <title>Home</title>
</head>
<body>
{% extends "template.html" %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div id="divisionTables"></div>
            <div id="standings"></div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/get_standings",
                type: "POST",
                contentType: "application/json",
                success: function (response) {
                    response = response.split("\n\n");
                    response.forEach(function(divisionString, index) {
                        var division = convertStandingsStringToDict(divisionString);
                        var divisionName = getDivisionName(index); // Function to get division name
                        console.log(divisionName);
                        console.log(division);
                        
                        const divisionHeader = document.createElement('h2');
                        divisionHeader.textContent = divisionName;
                        document.getElementById('standings').appendChild(divisionHeader);
                        
                        const table = generateStandingsTable(division);
                        const container = document.getElementById("standings");
                        container.appendChild(table);
                        
                        // Add line break between tables, only if not the last division
                        if (index < response.length - 1) {
                            container.appendChild(document.createElement('br'));
                        }
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        function convertStandingsStringToDict(standingsString) {
            // Split the string by lines
            const lines = standingsString.trim().split('\n');
            
            // Initialize an empty array to hold team objects
            const teams = [];
            
            // Process each line to extract team data
            lines.forEach((line) => {
                // Split line by any amount of whitespace
                const data = line.trim().split(/\s+/);
                
                // Extract specific data elements
                const teamName = data.slice(1, -7).join(' '); // Join team name if it contains multiple words
                const w = parseInt(data[data.length - 7], 10);
                const l = parseInt(data[data.length - 6], 10);
                const gb = isNaN(parseFloat(data[data.length - 5])) ? data[data.length - 5] : parseFloat(data[data.length - 5]);
                const wc = data[data.length - 2];
                // Create team object with only required fields
                const teamObj = {
                    Team: teamName,
                    W: w,
                    L: l,
                    GB: gb,
					WC: wc,
					GP: w + l
                };
                
                // Add team object to teams array
                teams.push(teamObj);
            });
            
            // Create the final standings object
            return teams;
        }

        // Generate HTML table dynamically
        function generateStandingsTable(data) {
            // Create table element
            const table = document.createElement('table');
            
            // Create table header row
            const headerRow = table.insertRow();
            Object.keys(data[0]).forEach((key) => {
                const headerCell = document.createElement('th');
                headerCell.textContent = key;
                headerRow.appendChild(headerCell);
            });
            // Create table body rows
            data.forEach((team, index) => {
				
                if (index >= 2) {
                    const row = table.insertRow();
                    
                    // Add cell for team logo and name
                    const logoNameCell = row.insertCell();
                    const logoImg = document.createElement('img');
                    logoImg.src = getTeamLogoURL(team.Team); // Function to get team logo URL
                    logoImg.alt = team.Team + ' Logo';
                    logoImg.classList.add('team-logo');
                    logoNameCell.appendChild(logoImg);
                    const teamNameSpan = document.createElement('span');
                    teamNameSpan.textContent = team.Team;
                    teamNameSpan.classList.add('team-name');
                    logoNameCell.appendChild(teamNameSpan);
                    
                    // Add other data cells
                    Object.keys(team).forEach((key) => {
                        if (key !== 'Team') {
                            const cell = row.insertCell();
                            cell.textContent = team[key];
                        }
                    });
                }
            });
            
            return table;
        }
        
        // Function to get division name based on index
        function getDivisionName(index) {
            switch (index) {
                case 0:
                    return 'AL East';
                case 1:
                    return 'AL Central';
				case 2:
					return 'AL West';
				case 3: 
					return 'NL East'
				case 4: 
					return 'NL Central'
				case 5: 
					return 'NL West'
                default:
                    return 'Unknown Division';
            }
        }
        
        // Function to get team logo URL based on team name
        function getTeamLogoURL(teamName) {

			const teamLogos = {
                'Baltimore Orioles': '/static/images/logos/Baltimore Orioles.png',
                'New York Yankees': '/static/images/logos/New York Yankees.jpg',
                'New York Mets': '/static/images/logos/New York Mets.png',
                'Tampa Bay Rays': '/static/images/logos/Tampa Bay Rays.png',
                'Boston Red Sox': '/static/images/logos/Boston Red Sox.png',
				'Cleveland Guardians':'/static/images/logos/Cleveland Guradians.png',
				'Toronto Blue Jays':'/static/images/logos/Toronto Blue Jays.png',
				'Chicago White Sox':'/static/images/logos/Chicago White Sox.png',
				'Arizona Diamondbacks':'/static/images/logos/Arizona Diamondbacks.png',
				'Minnesota Twins':'/static/images/logos/Minnesota Twins.png',
				'Philadelphia Phillies':'/static/images/logos/Philadelphia Phillies.png',
				'Houston Astros':'/static/images/logos/Houston Astros.png',
				'Miami Marlins':'/static/images/logos/Miami Marlins.png',
				'San Diego Padres':'/static/images/logos/San Diego Padres.png',
				'Los Angeles Dodgers':'/static/images/logos/Los Angeles Dodgers.png',
				'Washington Nationals':'/static/images/logos/Washington Nationals.png',
				'Detroit Tigers':'/static/images/logos/Detroit Tigers.png',
				'Oakland Athletics':'/static/images/logos/Oakland Athletics.png',
				'Seattle Mariners':'/static/images/logos/Seattle Mariners.png',
				'Cincinnati Reds':'/static/images/logos/Cincinnati Reds.jfif',
				'Los Angeles Angels':'/static/images/logos/Los Angeles Angels.png',
				'Texas Rangers':'/static/images/logos/Texas Rangers.png',
				'Milwaukee Brewers':'/static/images/logos/Milwaukee Brewers.png',
				'Pittsburgh Pirates':'/static/images/logos/Pittsburgh Pirates.png',
				'Atlanta Braves':'/static/images/logos/Atlanta Braves.jpg',
				'St. Louis Cardinals':'/static/images/logos/St. Louis Cardinals.png',
				'Chicago Cubs':'/static/images/logos/Chicago Cubs.png',
				'Colorado Rockies':'/static/images/logos/Colorado Rockies.png',
				'San Francisco Giants':'/static/images/logos/San Francisco Giants.png',
				'Kansas City Royals':'/static/images/logos/Kansas City Royals.png'
            };
            
            return teamLogos[teamName] || '/static/images/logos/default_logo.png'; // Default logo URL if not found
        }
    </script>
{% endblock %}
</body>
</html>
