<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/baseball.png">
    <meta name="viewport" content="width=device-width">
	<script src="/static/js/script.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/template.css">
    <title>Home</title>
</head>
<body>
{% extends "template.html" %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div id="divisionTables"></div>
            <div id="standings"></div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/get_standings",
                type: "POST",
                contentType: "application/json",
                success: function (response) {
                    response = response.split("\n\n");
					var num_division = 0;
                    response.forEach(function(divisionString, index) {

						if (num_division != 6) {

							var division = convertStandingsStringToDict(divisionString);
							var divisionName = getDivisionName(index); // Function to get division name
							
							const divisionHeader = document.createElement('h2');
							divisionHeader.textContent = divisionName;
							document.getElementById('standings').appendChild(divisionHeader);
                        
							const table = generateStandingsTable(division);
							const container = document.getElementById("standings");
							container.appendChild(table);
							
							// Add line break between tables, only if not the last division
							if (index < response.length - 1) {
								container.appendChild(document.createElement('br'));
							}
						}
						num_division++;
                        
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        
    </script>
{% endblock %}
</body>
</html>
